//====Colors====
$color-yellow: hsl(47, 88%, 63%);
$color-white: hsl(0, 0%, 100%);

//Greys
$color-light-grey: hsl(0, 0%, 42%);
$color-dark-grey: hsl(0, 0%, 7%);

//====Weight====
$weight-light: 500;
$weight-boldest: 800;