@use "../abstract/variables" as variables;

.preview-card {
    font-family: figtree, sans-serif;
    font-size: 1.6rem;
    
    margin: 0 auto;
    
    max-width: 37rem;
    padding: 2.1rem;
    
    background-color: variables.$color-white;

    border-radius: 2rem;
    border: 0.1rem solid variables.$color-dark-grey;
    box-shadow: 0.8rem 0.8rem 0rem variables.$color-dark-grey;

    &-img {
        border-radius: 1.2rem;
        overflow: hidden;

        img {
            display: block;
            max-width: 100%;
        } 
    }
}

.article {
    &-types {
        &-tag {
            font-size: 1.4rem;
            background-color: variables.$color-yellow;
            padding: .6rem 1.2rem;
            
            border-radius: 0.5rem;

            font-weight: variables.$weight-boldest;
            display: inline-block;
        }
    }

    &-publication-date {
        font-size: 1.4rem;
        font-weight: variables.$weight-light;
        display: inline-block;
        color: variables.$color-dark-grey;
    }

    &-title {
        margin: 1.6rem 0;
        font-size: 2.4rem;
        font-weight: variables.$weight-boldest;
        transition: color .2s;

        &:hover {
            color: variables.$color-yellow;
            cursor: pointer;
        }
    }

    &-intro {
        color: variables.$color-light-grey;
        font-weight: variables.$weight-light;
        line-height: 2.4rem;
    }

    &-author {
        display: flex;
        align-items: center;
        gap: 1.2rem;

        &-avatar {
            width: 3.2rem;

            &-img {
                display: block;
                max-width: 100%;
            }
        }

        &-name {
            font-size: 1.4rem;
            font-weight: variables.$weight-boldest;
        } 
    }
}
