@use "../abstract/variables" as variables;

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}

.main {
    background-color: variables.$color-yellow;
    height: 100vh;
    place-content: center;
}