.u-margin-bottom-sm {
  margin-bottom: 1.3rem;
}

.u-margin-bottom-md {
  margin-bottom: 2.2rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

.main {
  background-color: hsl(47, 88%, 63%);
  height: 100vh;
  place-content: center;
}

.preview-card {
  font-family: figtree, sans-serif;
  font-size: 1.6rem;
  margin: 0 auto;
  max-width: 37rem;
  padding: 2rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 2rem;
  border: 1px solid hsl(0, 0%, 7%);
  box-shadow: 0.8rem 0.8rem 0rem hsl(0, 0%, 7%);
}
.preview-card-img {
  border-radius: 1rem;
  overflow: hidden;
}
.preview-card-img img {
  max-width: 100%;
}

.article-types-tag {
  background-color: hsl(47, 88%, 63%);
  padding: 0.5rem 1.2rem;
  border-radius: 5px;
  font-weight: 800;
  display: inline-block;
}
.article-publication-date {
  display: inline-block;
  color: hsl(0, 0%, 7%);
  font-weight: 500;
}
.article-title {
  font-size: 2.4rem;
  font-weight: 800;
  transition: color 0.2s;
}
.article-title:hover {
  color: hsl(47, 88%, 63%);
  cursor: pointer;
}
.article-intro {
  color: hsl(0, 0%, 42%);
  line-height: 2.4rem;
}
.article-author {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.article-author-avatar {
  width: 3.2rem;
}
.article-author-avatar-img {
  max-width: 100%;
}
.article-author-name {
  font-weight: 800;
}
